
.worksess-first-today {
    background-color: #d8ead8;
    color: #080808;
    padding: 5px;
}

.session-admin {
    padding: 10px;
}

.worksession-graph {
    width: 100%;
}

.worksession-graph td, .worksession-graph th {
    text-align: center;
    padding: 4px;
}

.worksession-graph td.worker-hour {
    padding: 0px;
}

.worksession-graph th {
    height: 54px;
}

.worksession-graph td {
    min-height: 100px;
    min-width: 40px;
    position: relative
}

.worksession-graph td > div.hourContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ebf4f9;
}

.worksession-graph td.worker-hour div > div {
    height: 100%;
    width: 3.33321111%;
    float: left;
    min-height: 40px;
}

.worksession-graph td > div > div.active {
    background-color: #338a33;
    min-height: 42px;
}

.worksession-graph td.hour {
}
.worksession-graph td.current {
    
}

.worksession-graph th.worker-name {
    border-right: 1px solid #999;
    width: 180px;
    text-align: left;
    
}

.worksession-graph th.worker-name > p.staffername {
    color: #2929a7;
}

.worksession-graph th .worksess-many-today {
    font-size: 11px;
    font-weight: normal;
}

.worksession-graph td.control {
    width: 130px;
}

.worksession-graph .worker-line:hover td {
    background-color: #f4f4f4;
}

.worksession-graph .worker-line:hover th {
    background-color: #f4f4f4;
}

.worksession-graph td .btn {
    padding: 3px;
    font-size: 15px;
    width: 100%;
}

.worksession-graph .session_status {
    border-bottom: 1px solid #000;
}

.worksession-graph .worksess-first-today {
    width: 200px;
}

.worksession-graph .session_status {
    text-align: left;
}

.worksession-graph thead td, .worksession-graph tfoot td {
    background-color: #f4f4f4;
}