.session-workers .btn {
    padding: 2px;
    margin: 1px;
}

.session-workers {
    padding: 1px;
    margin: 1px;
}
.session-workers li {
    list-style: none;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
}

.session-workers li:hover {
    border: 1px solid #000;
}

.worksess-table td:hover, .worksess-table td.betterhover, .worksess-table td.hover {
    background-color:#c0e2ff;  
    box-shadow:0 0 1px #006fcd;
}